@page {
	margin: 5%;
}

body {
    font-family: mangal;   
	border: 1px solid black;
    border-collapse: collapse;
    font-size: 15pt; 
}
.li {
	margin-left: 23px;
	font-size: 13px;
}
.fs13 {
	font-size: 13px;
}
.heading {
	text-align: center;
	font-size: 25px;
}
.sign {
	margin-top: 50px;
    margin-left: 500px;
}
.sign2 {
	margin-top: 0px;
    margin-left: 500px;
}
.text-align-center {
	text-align: center !important;
}
.text-align-right {
	text-align: right !important;
}
.text-align-left {
	text-align: left !important;
}
.underline {
	text-decoration: underline;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
	left: 30px !important;
}
.no-margin {
	margin: 0px !important;
}