body { 
    font: 14px sans-serif;
    background-color: #eff0f3;
}
.form-detail {
    padding-left: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}
.bold {
    font-weight: bold;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.w30 {
    width: 30%;
}
.width10 {
    width: 10px !important;
}
.width150 {
    width: 150px !important;
}
.width200 {
    width: 200px !important;
}
.width450 {
    width: 450px !important;
}
.width500 {
    width: 500px !important;
}
.full-width {
    width: 100% !important;
}
.no-border-radius { 
    border-radius: 0px !important 
}
.no-margin {
    margin: 0px !important;
}
.no-margin-bottom { 
    margin-bottom: 0px !important 
}
.text-align-center {
    text-align: center;
}
.text-docoration-none {
    text-decoration: none;
}
.clr-black {
    color: black !important;
}
.clr-white { 
    color:white; 
}
.clr-green { 
    color:green; 
}
.clr-red { 
    color:red; 
}
.bold {
    font-weight: bold;
}
.login_detail label{
    width: 60px;
}
.hide {
    visibility: hidden !important;
}
.display-none {
    display: none !important;
}
.fs4 {
    font-size: 20px !important;
}
.fs6 {
    font-size: 30px !important;
}
.header-height {
    height: 80px;
}
.header-font-size {
    font-size: 35px;
}

.get_candidates_wrapper form {
    padding: 20px;
}
.candidate_detail .form-group, .update_candidate_detail .form-group {
    padding:20px;
}
.candidate_detail .form-group label, .update_candidate_detail .form-group label {
    width: 101px; 
    font-size: 16px;
    margin-right: 10px;
} 
.candidate_detail .form-group input, .form-group select {
    width: 250px;
}
.candidate_detail .form-group select {
    width: 250px !important;
}
.update_candidate_detail .form-group input {
    width: 250px;
}
.update_candidate_detail .form-group select {
    width: 250px !important;
}
.padding-top-4x{
    padding-top: 20px !important;
}
.margin-right-1x {
    margin-right: 5px;
}
.margin-bottom-2x{
    margin-bottom: 10px !important;
}
.margin-bottom-4x{
    margin-bottom: 20px !important;
}
.margin-2x {
    margin: 10px;
}
.margin-5x {
    margin: 25px;
}
.margin-horiz-2x {
    margin-left: 10px;
    margin-right: 10px;
}
.margin-right-2x {
    margin-right: 10px;
}
.margin-right-3x {
    margin-right: 15px;
}
.margin-top-6x {
    margin-top: 30px !important;
}
.margin-left-none {
    margin-left: 0px !important;
}
.margin-top-2x {
    margin-top: 10px;
}
.margin-top-3x {
    margin-top: 15px;
}
.margin-top-4x {
    margin-top: 20px;
}
.info-header {
    font-size: 22px;
}
.no-width {
    width: 10px !important;
}
.has-error {
    border-color: red;
}
.margin-left-3x{
    margin-left: 15px;
}
.margin-left-6x {
    margin-left: 30px;
}
label.required:after {
    content:"*" ;
    color:red   
}
/*table css */
.ulb-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin-top: 55px;
    float: left;
    width: 100%;
}

.ulb-table td, .ulb-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.ulb-table tr:nth-child(even){background-color: #f2f2f2;}

.ulb-table tr:hover {background-color: #ddd;}

.ulb-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #36304a;
    text-align: center;
    color: white;
}
a.page-link {
    color: #007bff !important;
    border: 1px solid #dee2e6 !important;
    background-color: #fff !important;
}
.page-item.active .page-link {
    z-index: 1 !important;
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.pagination a:hover:not(.active) {
    background-color: #ddd !important;
}
.pagination a {
    border-radius: 5px;
}

.pagination a.active {
    border-radius: 5px;
}

.search-box{
    width: 300px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    padding-top: 15px;
}
.search-box input[type="text"]{
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    padding: 20px;
}
.result{
    position: absolute;        
    z-index: 999;
    top: 100%;
    left: 0;
    overflow: auto;
    background-color: #fff;
}
.search-box input[type="text"], .result{
    width: 100%;
    box-sizing: border-box;
}
/* Formatting result items */
.result p{
    margin: 0;
    padding: 12px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
    overflow: hidden;
    height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.result p:hover{
    background: #f2f2f2;
}

.lds-ellipsis {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: grey;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
.dropdown-result {
    overflow: auto;
}
.height-8x {
    height: 400px;
}
.input-search-icon {
    position:  absolute;
    top: 28px;
    margin-left: 10px;
    color: grey;
}
button.pure-button {
    font-size: 100%;
    padding: 0.67em 2em 0.85em 2em;
    color: rgba(0,0,0,.8);
    border: transparent;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    line-height: normal;
    box-sizing: border-box;
    outline: 0;
}
button.pure-button:hover, button.pure-button:focus {
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
#get-candidates .form-group {
    width: 25%;
}