<html>
    <body>
        <div class="div">
            <div class="text-align-center" style="line-height: 0.5px;">
                <span class="heading underline text-align-center" style="line-height: 0.5px;">कार्यालय नगर निगम/परिषद/पालिका {{ulbName}}</span>
            </div>

            <p style="line-height: 0.5px;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-size: 18px;">क्रमांक :--</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-size: 18px;">दिनांक :--</span>
            </p>

            <div class="text-align-center underline" style="line-height: 0.5px;">
                <span style="font-size: 18px;">नियुक्ति-आदेश</span>
            </div>
          
            <ol class="fs13">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;राजस्थान नगर पालिका अधिनियम 2009 एवं राजस्थान सफाई कर्मचारी सेवा नियम 2012  के अनुसरण में विज्ञापन संख्या 01/2018 दिनांक 13.04.2018  के तहत सफाई कर्मचारी भर्ती 2018 में चयनित अभ्यर्थी को 02 वर्ष के लिए राजस्थान सिविल (पुर्नराक्षित वेतन) नियम 2017 के नियम 16  के तहत शिड्यूल <span style="font-family: sans-serif;">iv</span> के अनुसार फिक्स रेम्युनरेशन 12400/- रुपये पर की जाकर सफाई कर्मचारी के पद  पर पदस्थापित किया जाता है | ये आदेश कार्य ग्रहण तिथि से लागु होगा | निम्नाकिंत शर्तो की पालना पर यह नियुक्ति प्रदान की जाती है:-

                <li class="li">
                    चयनित अभ्यर्थी को एक माह की अवधि में पुलिस सत्यापन, चिकित्सा प्रमाण पत्र, दो प्रतिष्ठित व्यक्तियों के द्वारा सत्यापित(6 माह से पूर्व का नहीं हो) चरित्र-प्रमाण पत्र एवं अन्य आवश्यक दस्तावेज जमा कराने होंगे अन्यथा नियुक्ति पत्र स्वत: निरस्त हो जायेगा |
                </li>

                <li class="li">
                    चयनित अभ्यर्थी द्वारा एक माह की अवधि में समस्त दस्तावेज सम्बंधित नगरीय निकाय में जमा नहीं कराने की स्थिति में नियुक्ति पत्र स्वत: ही निरस्त हो जायेगा |
                </li>

                <li  class="li">
                    आवेदक द्वारा नियुक्ति के संबंध में प्रस्तुत कोई भी दस्तावेज/तथ्य भविष्य में गलत पाए जाने <br> पर इन्हे बिना किसी पूर्व सूचना अथवा नोटिस दिए बगेर किसी भी समय सेवा से पृथक किया जा सकेगा |
                </li>

                <li class="li">
                    नियुक्ति आदेश राज्य सरकार के नोटिफिकेशन क्रमांक 7(2) डी.ओ.पी.ए.-11/5 दिनांक 20.01.2006 एवं प्रावधानुसार प्रोबेशन के रूप में नियुक्ति की जाकर फिक्स रेम्युनरेशन का भुगतान किया जायेगा |
                </li>

                <li class='li'>
                    प्रशिक्षण की अवधि में फिक्स रेम्युनरेशन के अतिरिक्त अन्य किसी प्रकार के भत्ते (महंगाई भत्ता, मकान किराया भत्ता, चिकित्सा भत्ता, बोनस एवं अन्य भत्ते) आदि देय नहीं होंगे |
                </li>

                <li class="li">
                  परीविक्षाधीन प्रशिक्षण के अवधि में सामान्य प्रावधायी निधि के अंतर्गत कटौती नहीं होगी |
                </li>

                <li class="li">
                    परीविक्षाधीन अवधि 2 वर्ष के प्रत्येक कलैंडर वर्ष में 15 दिवस का आकस्मिक अवकाश ही देय होगा |
                </li>

                <li class="li">
                    वित्त विभाग के आदेश दिनाक 30.10.2017 के प्रावधानुसार नियुक्त कार्मिको के फिक्स रेम्युनरेशन की राशि का 10 प्रतिशत एन.पी.एस. पेटे कटौती होगी |
                </li>
            </ol>

            <table class="table text-align-center fs13" align="center" style="margin-left: 60px;">
                <tr>
                    <td height="50px">क्रम संख्या</td>
                    <td height="50px">आवेदन <br> क्रमांक</td> 
                    <td height="50px">नाम अभ्यर्थी/पिता का नाम <br> एव पूर्ण पता</td>
                    <td height="50px">जन्म तिथि</td>
                    <td height="50px">नियुक्ति <br> पद</td>
                    <td height="50px">शृंखला में फिक्स रेम्युनरेशन</td>
                </tr>
                <tr>
                    <td height="50px" width="50px">1.</td>
                    <td height="50px" width="50px">{{#getReceiptNumber}} {{receiptNumber}} {{/getReceiptNumber}}</td>
                    <td height="50px" width="240px">{{name}}/{{guardian}} <br> {{permanentAddress}}</td>
                    <td height="50px" width="100px">{{dob}}</td>
                    <td height="50px" width="100px">सफाई कर्मचारी</td>
                    <td height="50px" width="100px">12400/-</td>
                </tr>
            </table>

            <div class="sign text-align-left" style="line-height: 25px;">
                <span>आयुक्त/अधिशाषी अधिकारी<span><br>
                <span>नगर निगम/परिषद/पालिका<span><br>
                <span>-----------------------------</span><br>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;दिनांक :--</span>
            </div>

            <div class="" style="line-height: 25px;">
                <span>क्रमांक :- </span><br>
                <span>&nbsp;&nbsp;&nbsp;प्रतिलिपि निम्न को सूचनार्थ एवं आवश्यक कार्यवाही हेतु प्रेषित हैं :- </span>
                <ol class="no-margin">
                    <li>{{name}}/{{guardian}}, {{permanentAddress}}</li>
                    <li>सुरक्षित पत्रावली </li>
                </ol>
            </div>
            <div class="sign2" style="line-height: 25px;">
                <span>आयुक्त/अधिशाषी अधिकारी<span><br>
                <span>नगर निगम/परिषद/पालिका<span>
            </div>
        </div>
    </body>
</html>
